In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from pycaret.classification import *
from sklearn.model_selection import RepeatedStratifiedKFold

import wandb

import os
import sys
sys.path.append('..')
from config import CFG
CFG = CFG()
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', CFG.NCOLS)
pd.set_option('display.max_rows', CFG.NROWS)

In [2]:
train = pd.read_csv(os.path.join(CFG.RAW_DATA, 'train.csv')).drop(columns='id')
test = pd.read_csv(os.path.join(CFG.RAW_DATA, 'test.csv')).drop(columns='id')

In [3]:
wandb.init(project='S3E10')

<wandb.sdk.wandb_run.Run at 0x7f18143f9ca0>

In [4]:
exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, log_experiment='wandb', log_plots=True, polynomial_degree=3
)

In [5]:
exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, polynomial_degree=3
)