In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from pycaret.classification import *
from sklearn.model_selection import RepeatedStratifiedKFold

import wandb

import os
import sys
sys.path.append('..')
from config import CFG
CFG = CFG()
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', CFG.NCOLS)
pd.set_option('display.max_rows', CFG.NROWS)

In [2]:
train = pd.read_csv(os.path.join(CFG.RAW_DATA, 'train.csv')).drop(columns='id')
test = pd.read_csv(os.path.join(CFG.RAW_DATA, 'test.csv')).drop(columns='id')

In [3]:
exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, log_experiment=True, log_plots=True, log_profile=True, log_data=True,
)

In [4]:
exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, #log_experiment=True, log_plots=True, log_profile=True, log_data=True,
)

In [5]:
exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, log_experiment=True, log_plots=True,
)

In [6]:
wandb.init(project='S3E10')

exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, log_experiment='wandb', log_plots=True,
)

In [7]:
get_metrics()

                Name Display Name  \
ID
acc         Accuracy     Accuracy
auc              AUC          AUC
recall        Recall       Recall
precision  Precision        Prec.
f1                F1           F1
kappa          Kappa        Kappa
mcc              MCC          MCC

                                              Score Function  \
ID
acc              <function accuracy_score at 0x7f280b7ccf70>
auc        <pycaret.internal.metrics.BinaryMulticlassScor...
recall     <pycaret.internal.metrics.BinaryMulticlassScor...
precision  <pycaret.internal.metrics.BinaryMulticlassScor...
f1         <pycaret.internal.metrics.BinaryMulticlassScor...
kappa         <function cohen_kappa_score at 0x7f280b7e10d0>
mcc           <function matthews_corrcoef at 0x7f280b7e11f0>

                                                      Scorer      Target  \
ID
acc                                                 accuracy        pred
auc        make_scorer(roc_auc_score, needs_proba=True, e...  pred_proba
recall           make_scorer(recall_score, average=weighted)        pred
precision     make_scorer(precision_score, average=weighted)        pred
f1                   make_scorer(f1_score, average=weighted)        pred
kappa                         make_scorer(cohen_kappa_score)        pred
mcc                           make_scorer(matthews_corrcoef)        pred

                                                    Args  Greater is Better  \
ID
acc                                                   {}               True
auc        {'average': 'weighted', 'multi_class': 'ovr'}               True
recall                           {'average': 'weighted'}               True
precision                        {'average': 'weighted'}               True
f1                               {'average': 'weighted'}               True
kappa                                                 {}               True
mcc                                                   {}               True

           Multiclass  Custom
ID
acc              True   False
auc              True   False
recall           True   False
precision        True   False
f1               True   False
kappa            True   False
mcc              True   False

In [8]:
from sklearn.metrics import log_loss
add_metric('logloss', 'Log Loss', log_loss, greater_is_better = False)

Name                                                       Log Loss
Display Name                                               Log Loss
Score Function                <function log_loss at 0x7f280b7e19d0>
Scorer               make_scorer(log_loss, greater_is_better=False)
Target                                                         pred
Args                                                             {}
Greater is Better                                             False
Multiclass                                                     True
Custom                                                         True
Name: logloss, dtype: object

In [9]:
models()

                                     Name  \
ID
lr                    Logistic Regression
knn                K Neighbors Classifier
nb                            Naive Bayes
dt               Decision Tree Classifier
svm                   SVM - Linear Kernel
rbfsvm                SVM - Radial Kernel
gpc           Gaussian Process Classifier
mlp                        MLP Classifier
ridge                    Ridge Classifier
rf               Random Forest Classifier
qda       Quadratic Discriminant Analysis
ada                  Ada Boost Classifier
gbc          Gradient Boosting Classifier
lda          Linear Discriminant Analysis
et                 Extra Trees Classifier
lightgbm  Light Gradient Boosting Machine
dummy                    Dummy Classifier

                                                  Reference  Turbo
ID
lr        sklearn.linear_model._logistic.LogisticRegression   True
knn       sklearn.neighbors._classification.KNeighborsCl...   True
nb                           sklearn.naive_bayes.GaussianNB   True
dt             sklearn.tree._classes.DecisionTreeClassifier   True
svm       sklearn.linear_model._stochastic_gradient.SGDC...   True
rbfsvm                             sklearn.svm._classes.SVC  False
gpc       sklearn.gaussian_process._gpc.GaussianProcessC...  False
mlp       sklearn.neural_network._multilayer_perceptron....  False
ridge           sklearn.linear_model._ridge.RidgeClassifier   True
rf          sklearn.ensemble._forest.RandomForestClassifier   True
qda       sklearn.discriminant_analysis.QuadraticDiscrim...   True
ada       sklearn.ensemble._weight_boosting.AdaBoostClas...   True
gbc         sklearn.ensemble._gb.GradientBoostingClassifier   True
lda       sklearn.discriminant_analysis.LinearDiscrimina...   True
et            sklearn.ensemble._forest.ExtraTreesClassifier   True
lightgbm                    lightgbm.sklearn.LGBMClassifier   True
dummy                         sklearn.dummy.DummyClassifier   True

In [10]:
best_model = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

Empty DataFrame
Columns: [Model, Accuracy, AUC, Recall, Prec., F1, Kappa, MCC, Log Loss, TT (Sec)]
Index: []

Initiated  . . . . . . . . . . . . . . . . . .           19:49:00
Status     . . . . . . . . . . . . . . . . . .  Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Compiling Library

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .    Loading Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .      Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .     Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Logistic Regression

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .        Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  K Neighbors Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .     Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  K Neighbors Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .     Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  K Neighbors Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .         Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  K Neighbors Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .        Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  K Neighbors Classifier

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .       Naive Bayes

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .          Naive Bayes

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .          Naive Bayes

Initiated  . . . . . . . . . . . . . . . . . .         19:49:00
Status     . . . . . . . . . . . . . . . . . .  Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .      Naive Bayes

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .       Naive Bayes

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .          Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .       Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .       Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .           Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .          Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Decision Tree Classifier

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .     Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  SVM - Linear Kernel

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  SVM - Linear Kernel

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  SVM - Linear Kernel

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .      Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  SVM - Linear Kernel

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .     Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  SVM - Linear Kernel

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Ridge Classifier

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .     Ridge Classifier

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .     Ridge Classifier

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .   Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Ridge Classifier

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Ridge Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .          Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .       Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .       Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .           Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .          Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Quadratic Discriminant Analysis

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Quadratic Discriminant Analysis

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Quadratic Discriminant Analysis

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Initializing CV
Estimator,. . . . . . . . . . . . . . . . . .,Quadratic Discriminant Analysis

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Quadratic Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .      Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .   Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .   Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .       Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Initiated  . . . . . . . . . . . . . . . . . .              19:49:00
Status     . . . . . . . . . . . . . . . . . .      Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Ada Boost Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .              Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .           Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .           Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .               Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .              Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Gradient Boosting Classifier

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .              Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .           Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .           Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .               Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .                      19:49:00
Status     . . . . . . . . . . . . . . . . . .              Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .        Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .     Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .     Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .         Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .        Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Extra Trees Classifier

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Initializing CV
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,19:49:00
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .     Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .             19:49:00
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .     Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .   Initializing CV
Estimator  . . . . . . . . . . . . . . . . . .  Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .          19:49:00
Status     . . . . . . . . . . . . . . . . . .  Fitting 50 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .                19:49:00
Status     . . . . . . . . . . . . . . . . . .  Compiling Final Models
Estimator  . . . . . . . . . . . . . . . . . .        Dummy Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .    Compiling Final Models
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

Initiated  . . . . . . . . . . . . . . . . . .                  19:49:00
Status     . . . . . . . . . . . . . . . . . .             Creating Logs
Estimator  . . . . . . . . . . . . . . . . . .  Random Forest Classifier

In [11]:
eda()

In [12]:
from sklearn.metrics import log_loss
add_metric('logloss', 'Log Loss', log_loss)

In [13]:
remove_metric("logloss")

In [14]:
from sklearn.metrics import log_loss
add_metric('logloss', 'Log Loss', log_loss)

Name                                              Log Loss
Display Name                                      Log Loss
Score Function       <function log_loss at 0x7f280b7e19d0>
Scorer                               make_scorer(log_loss)
Target                                                pred
Args                                                    {}
Greater is Better                                     True
Multiclass                                            True
Custom                                                True
Name: logloss, dtype: object

In [15]:
create_model("lgbm")

In [16]:
models()

                                     Name  \
ID
lr                    Logistic Regression
knn                K Neighbors Classifier
nb                            Naive Bayes
dt               Decision Tree Classifier
svm                   SVM - Linear Kernel
rbfsvm                SVM - Radial Kernel
gpc           Gaussian Process Classifier
mlp                        MLP Classifier
ridge                    Ridge Classifier
rf               Random Forest Classifier
qda       Quadratic Discriminant Analysis
ada                  Ada Boost Classifier
gbc          Gradient Boosting Classifier
lda          Linear Discriminant Analysis
et                 Extra Trees Classifier
lightgbm  Light Gradient Boosting Machine
dummy                    Dummy Classifier

                                                  Reference  Turbo
ID
lr        sklearn.linear_model._logistic.LogisticRegression   True
knn       sklearn.neighbors._classification.KNeighborsCl...   True
nb                           sklearn.naive_bayes.GaussianNB   True
dt             sklearn.tree._classes.DecisionTreeClassifier   True
svm       sklearn.linear_model._stochastic_gradient.SGDC...   True
rbfsvm                             sklearn.svm._classes.SVC  False
gpc       sklearn.gaussian_process._gpc.GaussianProcessC...  False
mlp       sklearn.neural_network._multilayer_perceptron....  False
ridge           sklearn.linear_model._ridge.RidgeClassifier   True
rf          sklearn.ensemble._forest.RandomForestClassifier   True
qda       sklearn.discriminant_analysis.QuadraticDiscrim...   True
ada       sklearn.ensemble._weight_boosting.AdaBoostClas...   True
gbc         sklearn.ensemble._gb.GradientBoostingClassifier   True
lda       sklearn.discriminant_analysis.LinearDiscrimina...   True
et            sklearn.ensemble._forest.ExtraTreesClassifier   True
lightgbm                    lightgbm.sklearn.LGBMClassifier   True
dummy                         sklearn.dummy.DummyClassifier   True

In [17]:
create_model("lightgbm")

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=7645, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

Initiated  . . . . . . . . . . . . . . . . . .              20:50:30
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .             20:50:30
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Compiling Library

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:50:30
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:50:30
Status,. . . . . . . . . . . . . . . . . .,Initializing CV
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:50:30
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:50:30
Status,. . . . . . . . . . . . . . . . . .,Finalizing Model
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:50:30
Status,. . . . . . . . . . . . . . . . . .,Creating Logs
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

In [18]:
lgbm = create_model("lightgbm")

Initiated  . . . . . . . . . . . . . . . . . .              20:51:54
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

Initiated  . . . . . . . . . . . . . . . . . .             20:51:54
Status     . . . . . . . . . . . . . . . . . .  Selecting Estimator
Estimator  . . . . . . . . . . . . . . . . . .    Compiling Library

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:51:54
Status,. . . . . . . . . . . . . . . . . .,Selecting Estimator
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:51:54
Status,. . . . . . . . . . . . . . . . . .,Initializing CV
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:51:54
Status,. . . . . . . . . . . . . . . . . .,Fitting 50 Folds
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:51:54
Status,. . . . . . . . . . . . . . . . . .,Finalizing Model
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

,,
,,
Initiated,. . . . . . . . . . . . . . . . . .,20:51:54
Status,. . . . . . . . . . . . . . . . . .,Creating Logs
Estimator,. . . . . . . . . . . . . . . . . .,Light Gradient Boosting Machine

In [19]:
wandb.init(project='S3E10')

exp_name = setup(
    data=train, target='Class', polynomial_features=True, fold_strategy=RepeatedStratifiedKFold(), 
    fold=5, log_experiment='wandb', log_plots=True, profile=True
)